#outline{
    border: black solid 1px;
    background-color: darkturquoise
}
body{
    background-image: url('/assets/pics/musicNotesBackground.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }